.signupbox {
  margin-left: 10%;
  padding: 5px;
}

.form-control {
  font-size: 20pt;
  font-family: kinder;
  right: 0;
  height: 20px;
}
.form-group {
  font-size: 24pt;
}
.btn {
  padding: 10px;
}
.navigation-bar {
  position: absolute;
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
}

.navLinkFont {
  font-family: "chalk";
  font-size: 7pt;
  text-decoration: none;
  color: #000000;
  margin-left: 7%;
  margin-top: 15px;
}

.logo {
  position: relative;
  width: 10%;
  height: 100%;
  left: 0px;
  top: 0px;
  margin-left: 20px;
}

.website {
  margin-left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
