/* Colors */

.yellow {
  background-color: #fdc649;
}

.orange {
  background-color: #f1753c;
}
.bisque {
  background-color: #ffe7c5;
}
.turquoise {
  background-color: #acdaba;
}
.celadon {
  background-color: #118177;
}
